*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family:roboto;
}
header{
    text-align: center;
}
main{
    display:flex;
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(3,200px);
    grid-gap:1rem;
}
main section{
    width: 200px;
    height: 200px;
    background-color:#c4c4c4;
}
footer{
    text-align: center;
}